
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10  px;
}
::-webkit-scrollbar-thumb {
    background: rgba(52, 58, 60, 0.549);
    border-radius: 50px;
}

h1{
    color: rgb(255, 194, 51);
    font-size: 30px;
}

body{
    padding-top: 80px;
    color: #e9e9e9;
    background-color: #1f2023;
}


/* ----- NAVBAR ----- */

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.navbar-left{
    color: #00d3c5;
    font-weight: bold;
}

.nav-link{
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.nav-link:hover{
    color: #00d3c5;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #00d3c5;
}

.dropdown-menu{
    background: #2b3036;
}
.dropdown-item{
    color: #ffffff8c;
}


/* ----- INICIO ----- */

.bienvenida-img{
    max-width: 100%;
}

.bienvenida-info{
    color: #ffffffc2;
}

.btn-ver-menu{
    color: #ffff;
    background-color: #a70242 ;
    border: none;
}
.btn-ver-menu:hover{
    background-color: #8c0c3d ;

}
.btn-ver-menu:focus{
    background-color: #660a2d ;

}
.btn-contacto{
    color: #ffff;
    background-color: #328543 ;
    border: none;
}
.btn-contacto:hover{
    background-color: #216f09 ;

}
.btn-contacto:focus{
    background-color: #014e18 ;

}
.seccion-especialidad{
    background-color: #702d2d;
}
.seccion-especialidad .card{
    background-color: #e2dada;
    color: #151313c2;
}
.seccion-especialidad .card h5{
    color: #330106f1;
} 
.card-img-top{
    height: 250px;
}
.card-opinion{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 3px;
    padding: 20px 20px;
    gap: 10px;
    background-color: #2b3036;
    color: #ffffffc2;
}
.card-opinion img{
    border-radius: 50%;
    border: 2px solid #00d3c5;
    height: 120px;
    width: 120px;
    object-fit: cover;
}

.card-opinion h4{
    color: #00d3c5;
}

.bi-star-fill, 
.bi-star {
    color: rgb(255, 200, 50);
}

/* ----- NOSOTROS ----- */

.nosotros-img{
    max-width: 100%;
}
.accordion-item{
    border-color: #03afa3a2;
}
.accordion-button:not(.collapsed) {
    color: #61ffefc8;
    background-color: #1e6add;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 #03afa3a2;
}
.accordion-button{
    background-color: #2b3036;
    color: #61ffefc8;
}
.accordion-button:not(.collapsed){
    background-color: #2b3036;
}

.accordion-button::after {
    background-color: #efe5cbc8;
    border-radius: 2px;
}
.accordion-body{
    background-color: #2b3036;
}
.accordion-body p{
    color: #c6c6c6;
}
.accordion-body ul{
    color: #c6c6c6;
}
.seccion-preguntas img{
    max-width: 70%;
}

/* ----- MENÚ ----- */

.hero-menu {
    background-image: url(../multimedia/menu/encabezado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 180px;
    border-radius: 5px;
}
.hero-menu-contenido {
    color: #e3e3e3;
    background-color: rgba(0, 0, 0, 0.649);
    width: 100%;
    height: 100%;
    padding-top: 50px;
    text-align: center;
    border-radius: 5px;
}

.card-menu{
    min-height: 350px;
    background: rgba(52, 58, 60, 0.549);
    transition: transform 0.5s ease;
}
.card-seccion-img{
    min-height: 170px;
}
.card-menu img{
    width: 210px;   
    height: 152px;
}
.card-menu h4{
    color: #6cedb1fd;
}
.card-menu p{
    color: #ffffffc2;
    font-size: 14px;
}
.card-menu:hover {
    transform: scale(1.08);
}

/* ----- GALERÍA ----- */

.seccion-galeria-hero .container{
    background-image: linear-gradient(20deg, rgb(47, 45, 43), rgb(108, 108, 108) 58%, rgb(146, 140, 153) 100%);
    color: #d3d3d3;
    padding: 20px 0;
    border-radius: 10px;
}

.seccion-galeria-hero h1{
    color: #676780;
}
.seccion-galeria .imagenes{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.caja{
    max-height: 100%;
}
.caja img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.galeria-iframe{
    /* width: 560px;
    height: 315px;*/
    border-radius: 5px;
    max-width: 100%;
}

.galeria-gif{
    height: 250px;
}

/* ----- CONTACTO ----- */

.seccion-contacto h2{
    color: #ffc233;
}
.seccion-contacto img{
    max-width: 100%;
}
.seccion-contacto .input-group-text{
    border: var(--bs-border-width) solid #00d3c56e;
    background-color: #0be0d2eb;
    color: var(--bs-body-color);
}

.seccion-contacto input,
.seccion-contacto select,
.seccion-contacto textarea{
    color: #c6c6c6;
    background-color: #28282b;
    border: 1px solid #00d3c56e;
}
.seccion-contacto input:focus,
.seccion-contacto select:focus,
.seccion-contacto textarea:focus{
    color: #c6c6c6;
    background-color: #2a2929;
    box-shadow: 0 0 0 0.1rem #00d3c5a0;
}
.seccion-contacto .form-control::placeholder{
    color: #c6c6c669;
}
.seccion-contacto textarea{
    resize: none;
}


/* ----- FOOTER ----- */

.footer{
    background-color: #1a1920;
    color: #ffffffba;
}
.footer h5{
    font-size: 16px;
}
.footer ul{
    list-style: none;
    padding: 10px 0;
}
.footer li{
    color: #ffffff8c;
}
.footer a{
    text-decoration: none;
    color: #ffffff8c;
    transition: all .15s ease;
}
.footer a:hover{
    color: #e3e3e3;
}

.footer .btn{
    padding-top: 6px;
    padding-bottom: 6px;
}


/* ----- MEDIA QUERIES ----- */

@media (min-width: 380px) {
    .card-img-top {
        height: 350px;
    }
}
@media (min-width: 768px) {
    .seccion-preguntas img{
        max-width: 80%;
    }
    .card-img-top {
        height: 250px;
    }
    
    .seccion-galeria .imagenes{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 250px;
        grid-template-areas: 
        'img01 img02'
        'img04 img04 '
        'img03 img06'
        'img09 img09'
        'img05 img08'
        ;
        gap: 10px;
    }
    .img01{
        grid-area: img01;
    }
    .img02{
        grid-area: img02;
    }
    .img03{
        grid-area: img03;
    }
    .img04{
        grid-area: img04;
    }
    .img05{
        grid-area: img05;
    }
    .img06{
        grid-area: img06;
    }
    .img07{
        grid-area: img07;
    }
    .img08{
        grid-area: img08;
    }
    .img09{
        grid-area: img09;
    }
}
@media (min-width: 992px) {
    
    /* Inicio */
    .card-img-top {
        height: 300px;
    }

    /* Menú */
    .hero-menu{
        height: 200px;
    }
}

@media (min-width: 1200px) {
    h1{
        font-size: 50px;
    }
    .bienvenida-info{
        font-size: 20px;
    }
    .btn{
        padding: 10px 25px;
    }
    .card-img-top {
        height: 240px;
    }
    .seccion-galeria .imagenes{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: 260px;
        grid-template-areas: 
        'img01 img02 img03'
        'img04 img04 img05'
        'img06 img07 img05'
        'img08 img09 img09'
        ;
        gap: 15px;
    }
    
    .seccion-galeria .caja{
        transition: transform 0.5s ease;
    }
    .seccion-galeria .caja:hover {
        transform: scale(1.02);
    }
}