

/* ----- FOOTER ----- */

.footer{
    background-color: #1a1920;
    color: #ffffffba;
}
.footer small{
    color: #cdf1f990;
}
.footer ul{
    list-style: none;
    padding: 10px 0;
}
.footer li{
    color: #cdf1f990;
}
.footer i{
    color: #cdf1f990;
}
.footer .formulario i{
    color: #010101;
}
.footer a{
    text-decoration: none;
    color: #ffffff8c;
}

.footer .btn{
    padding-top: 6px;
    padding-bottom: 6px;
}
